@{
    ViewBag.Title = "Biblioteca Virtual - El Libro";
}
<div class="row">
    
        <img src="https://previews.123rf.com/images/wbraga/wbraga1608/wbraga160800010/62894010-libros-de-colores-en-una-fila-con-la-tableta-en-el-primer-plano-%C3%BAtiles-escolares-y-una-manzana-volver-a-.jpg" alt="Portalda" height="30%" width="100%">
    
</div>
    <div class="jumbotron">

        <h1>Biblioteca Virtual "Buho Viejo"</h1>
        <p class="lead">Una plataforma digital que pone a su disposición una colección de libro que tienen como objetivo difundir información de distintas índoles además de ofrecer registros bibliográficos en formato de texto..</p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <h5> Libros destacados </h5>
    <div class="row">
        <div class="col-md-2">
            <div align="left">
                <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Harry" width="100%">
            </div>
            <h4>Harry Potter y las Reliquias <br> de la Muerte</h4>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">View &raquo;</a></p>
        </div>
        <div class="col-md-2">
            <div align="left">
                <img src="https://static4planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/254/m_libros/portada_el-codigo-da-vinci_dan-brown_201706061701.jpg" alt="Davinchi" width="100%">
            </div>
            <h4>El código Da Vinci</h4>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">View &raquo;</a></p>
        </div>
        <div class="col-md-2">
            <div align="left">
                <img src="https://www.planetadelibros.com/usuaris/libros/fotos/210/m_libros/portada_el-senor-de-los-anillos_j-r-r-tolkien_201601252224.jpg" alt="Anlillos" width="100%">
            </div>
            <h4>El Señor de los Anillos</h4>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">View &raquo;</a></p>
        </div>
        <div class="col-md-2">
            <div align="left">
                <img src="https://static1planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/201/m_libros/portada_el-alquimista_paulo-coelho_201612191218.jpg" alt="Alquimista" width="100%">
            </div>
            <h4>El Alquimista</h4>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">View &raquo;</a></p>
        </div>
        <div class="col-md-2">
            <div align="left">
                <img src="https://mlstaticquic-a.akamaihd.net/diario-de-ana-frank-ana-frank-D_NQ_NP_769835-MLU28381870972_102018-F.jpg" alt="Harry" width="100%">
            </div>
            <h4>El diario de Ana Frank</h4>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">View &raquo;</a></p>
        </div>
        <div class="col-md-2">
            <div align="left">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61HOpyVqSeL._SX342_QL70_.jpg" alt="Quijote" width="100%">
            </div>
            <h4>Don Quijote de la mancha</h4>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">View &raquo;</a></p>
        </div>
    </div>
