@{
    ViewBag.Title = "Biblioteca Virtual - El Libro";
}
<div class="row">
    
        <img src="https://previews.123rf.com/images/wbraga/wbraga1608/wbraga160800010/62894010-libros-de-colores-en-una-fila-con-la-tableta-en-el-primer-plano-%C3%BAtiles-escolares-y-una-manzana-volver-a-.jpg" alt="Portalda" height="30%" width="100%">
    
</div>
   <h8> CATOLOGO GENERAL: NUEVAS PUBLICACIONES </h8>
<div class="container">
    <div class="row">
        @*@<div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="item active">
                <div class="carousel-inner">*@
                    <div class="col-md-2">
                        <div align="left">
                            <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Harry" width="100%"><br>
                        </div>
                        <br>
                            <a href="#ventana1" class="btn btn-info btn-lg" data-toggle="modal">Más Información &raquo;</a>
                            <div class="modal fade" id="ventana1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Harry Potter y las Reliquias de la Muerte</h4>
                                        </div>

                                        <div class="modal-body">
                                            
                                                <p align="justify">
                                                    <img src="https://cdn.palbin.com/users/16097/images/Llavero-Harry-Potter-Reliquias-1-1521459337.jpg" align="left" alt="Harry" width="30%" height="40%"> La fecha crucial se acerca. Cuando cumpla diecisiete años, Harry perderá el encantamiento protector que lo mantiene a salvo. El anunciado enfrentamiento a muerte con lord Voldemort es inminente, y la casi imposible misión de encontrar y destruir los restantes Horrocruxes más urgente que nunca. Ha llegado la hora final, el momento de tomar las decisiones más difíciles. Harry debe abandonar la calidez y seguridad de La Madriguera para seguir sin miedo ni vacilaciones el inexorable sendero trazado para él. Consciente de lo mucho que está en juego, sólo dentro de sí mismo encontrará la fuerza necesaria que lo impulse en la vertiginosa carrera para enfrentarse con su destino.
                                                </p>
                                                                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button tyle="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            <button tyle="button" class="btn btn-primary"> Ir al contenido</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="col-md-2">
                        <div align="left">
                            <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Davinchi" width="100%">
                        </div>
                        <br>
                            <a href="#ventana1" class="btn btn-info btn-lg" data-toggle="modal">Más Información &raquo;</a>
                            <div class="modal fade" id="ventana1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Harry Potter y las Reliquias de la Muerte</h4>
                                        </div>

                                        <div class="modal-body">

                                            <p align="justify">
                                                <img src="https://cdn.palbin.com/users/16097/images/Llavero-Harry-Potter-Reliquias-1-1521459337.jpg" align="left" alt="Harry" width="30%" height="40%"> La fecha crucial se acerca. Cuando cumpla diecisiete años, Harry perderá el encantamiento protector que lo mantiene a salvo. El anunciado enfrentamiento a muerte con lord Voldemort es inminente, y la casi imposible misión de encontrar y destruir los restantes Horrocruxes más urgente que nunca. Ha llegado la hora final, el momento de tomar las decisiones más difíciles. Harry debe abandonar la calidez y seguridad de La Madriguera para seguir sin miedo ni vacilaciones el inexorable sendero trazado para él. Consciente de lo mucho que está en juego, sólo dentro de sí mismo encontrará la fuerza necesaria que lo impulse en la vertiginosa carrera para enfrentarse con su destino.
                                            </p>

                                        </div>
                                        <div class="modal-footer">
                                            <button tyle="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            <button tyle="button" class="btn btn-primary"> Ir al contenido</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-2">
                        <div align="left">
                            <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Anlillos" width="100%">
                        </div>
                        
                        <br>
                        <a href="#ventana1" class="btn btn-info btn-lg" data-toggle="modal">Más Información &raquo;</a>
                        <div class="modal fade" id="ventana1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Harry Potter y las Reliquias de la Muerte</h4>
                                    </div>

                                    <div class="modal-body">

                                        <p align="justify">
                                            <img src="https://cdn.palbin.com/users/16097/images/Llavero-Harry-Potter-Reliquias-1-1521459337.jpg" align="left" alt="Harry" width="30%" height="40%"> La fecha crucial se acerca. Cuando cumpla diecisiete años, Harry perderá el encantamiento protector que lo mantiene a salvo. El anunciado enfrentamiento a muerte con lord Voldemort es inminente, y la casi imposible misión de encontrar y destruir los restantes Horrocruxes más urgente que nunca. Ha llegado la hora final, el momento de tomar las decisiones más difíciles. Harry debe abandonar la calidez y seguridad de La Madriguera para seguir sin miedo ni vacilaciones el inexorable sendero trazado para él. Consciente de lo mucho que está en juego, sólo dentro de sí mismo encontrará la fuerza necesaria que lo impulse en la vertiginosa carrera para enfrentarse con su destino.
                                        </p>

                                    </div>
                                    <div class="modal-footer">
                                        <button tyle="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        <button tyle="button" class="btn btn-primary"> Ir al contenido</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div align="left">
                            <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Alquimista" width="100%">
                        </div>
                        
                        <br>
                        <a href="#ventana1" class="btn btn-info btn-lg" data-toggle="modal">Más Información &raquo;</a>
                        <div class="modal fade" id="ventana1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Harry Potter y las Reliquias de la Muerte</h4>
                                    </div>

                                    <div class="modal-body">

                                        <p align="justify">
                                            <img src="https://cdn.palbin.com/users/16097/images/Llavero-Harry-Potter-Reliquias-1-1521459337.jpg" align="left" alt="Harry" width="30%" height="40%"> La fecha crucial se acerca. Cuando cumpla diecisiete años, Harry perderá el encantamiento protector que lo mantiene a salvo. El anunciado enfrentamiento a muerte con lord Voldemort es inminente, y la casi imposible misión de encontrar y destruir los restantes Horrocruxes más urgente que nunca. Ha llegado la hora final, el momento de tomar las decisiones más difíciles. Harry debe abandonar la calidez y seguridad de La Madriguera para seguir sin miedo ni vacilaciones el inexorable sendero trazado para él. Consciente de lo mucho que está en juego, sólo dentro de sí mismo encontrará la fuerza necesaria que lo impulse en la vertiginosa carrera para enfrentarse con su destino.
                                        </p>

                                    </div>
                                    <div class="modal-footer">
                                        <button tyle="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        <button tyle="button" class="btn btn-primary"> Ir al contenido</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div align="left">
                            <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Harry" width="100%" height="95%">
                        </div>
                        
                        <br>
                        <a href="#ventana1" class="btn btn-info btn-lg" data-toggle="modal">Más Información &raquo;</a>
                        <div class="modal fade" id="ventana1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Harry Potter y las Reliquias de la Muerte</h4>
                                    </div>

                                    <div class="modal-body">

                                        <p align="justify">
                                            <img src="https://cdn.palbin.com/users/16097/images/Llavero-Harry-Potter-Reliquias-1-1521459337.jpg" align="left" alt="Harry" width="30%" height="40%"> La fecha crucial se acerca. Cuando cumpla diecisiete años, Harry perderá el encantamiento protector que lo mantiene a salvo. El anunciado enfrentamiento a muerte con lord Voldemort es inminente, y la casi imposible misión de encontrar y destruir los restantes Horrocruxes más urgente que nunca. Ha llegado la hora final, el momento de tomar las decisiones más difíciles. Harry debe abandonar la calidez y seguridad de La Madriguera para seguir sin miedo ni vacilaciones el inexorable sendero trazado para él. Consciente de lo mucho que está en juego, sólo dentro de sí mismo encontrará la fuerza necesaria que lo impulse en la vertiginosa carrera para enfrentarse con su destino.
                                        </p>

                                    </div>
                                    <div class="modal-footer">
                                        <button tyle="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        <button tyle="button" class="btn btn-primary"> Ir al contenido</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div align="left">
                            <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Quijote" width="100%" height="110%">
                        </div>
                        <br>
                        <a href="#ventana1" class="btn btn-info btn-lg" data-toggle="modal">Más Información &raquo;</a>
                        <div class="modal fade" id="ventana1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Harry Potter y las Reliquias de la Muerte</h4>
                                    </div>

                                    <div class="modal-body">

                                        <p align="justify">
                                            <img src="https://cdn.palbin.com/users/16097/images/Llavero-Harry-Potter-Reliquias-1-1521459337.jpg" align="left" alt="Harry" width="30%" height="40%"> La fecha crucial se acerca. Cuando cumpla diecisiete años, Harry perderá el encantamiento protector que lo mantiene a salvo. El anunciado enfrentamiento a muerte con lord Voldemort es inminente, y la casi imposible misión de encontrar y destruir los restantes Horrocruxes más urgente que nunca. Ha llegado la hora final, el momento de tomar las decisiones más difíciles. Harry debe abandonar la calidez y seguridad de La Madriguera para seguir sin miedo ni vacilaciones el inexorable sendero trazado para él. Consciente de lo mucho que está en juego, sólo dentro de sí mismo encontrará la fuerza necesaria que lo impulse en la vertiginosa carrera para enfrentarse con su destino.
                                        </p>

                                    </div>
                                    <div class="modal-footer">
                                        <button tyle="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        <button tyle="button" class="btn btn-primary"> Ir al contenido</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    @*<a class="left carousel-control"
                       href="#myCarousel"
                       data-slide="prev">
                        <i class="glyphicon glyphicon-chevron-left">
                        </i>
                    </a>
                    <a class="right carousel-control"
                       href="#myCarousel"
                       data-slide="next">
                        <i class="glyphicon glyphicon-chevron-right">
                        </i>
                    </a>*@
        </div>
        <br>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3" >
                    <div align="left">
                        <p>El misterio de la vida no es un problema a resolver, sino una realidad a experimentar</p>
                        <p>Duna, Frank Herbert</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div align="left">
                        <p>El misterio de la vida no es un problema a resolver, sino una realidad a experimentar</p>
                        <p>Duna, Frank Herbert</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div align="left">
                        <p>El misterio de la vida no es un problema a resolver, sino una realidad a experimentar</p>
                        <p>Duna, Frank Herbert</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div align="left">
                        <p>El misterio de la vida no es un problema a resolver, sino una realidad a experimentar</p>
                        <p>Duna, Frank Herbert</p>
                    </div>
                </div>
            </div>
         </div>
</div>

