@{
    ViewBag.Title = "Biblioteca Virtual - El Libro";
}
<div class="row">
    
        <img src="https://previews.123rf.com/images/wbraga/wbraga1608/wbraga160800010/62894010-libros-de-colores-en-una-fila-con-la-tableta-en-el-primer-plano-%C3%BAtiles-escolares-y-una-manzana-volver-a-.jpg" alt="Portalda" height="30%" width="100%">
    
</div>
    @*<div class="jumbotron">

        <h1>Biblioteca Virtual "Buho Viejo"</h1>
        <p class="lead">Una plataforma digital que pone a su disposición una colección de libro que tienen como objetivo difundir información de distintas índoles además de ofrecer registros bibliográficos en formato de texto..</p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

    <h8> CATOLOGO GENERAL: NUEVAS PUBLICACIONES </h8>
<div class="container">
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">

                    <div class="col-md-2">
                        <div align="left">
                            <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Harry" width="100%"><br>
                        </div>
                        @*<p align="center"><h5>Harry Potter y las Reliquias de la Muerte</h5></p>*@
                        <br>
                        <p><a href="http://asp.net" class="btn btn-info btn-lg">Más Información &raquo;</a></p>
                    </div>
                    <div class="col-md-2">
                        <div align="left">
                            <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Davinchi" width="100%">
                        </div>
                        @*<p align="center""><h5>El código Da Vinci</h5></p>*@
                        <br>
                        <p><a href="http://asp.net" class="btn btn-info btn-lg">Más Información &raquo;</a></p>
                    </div>
                    <div class="col-md-2">
                        <div align="left">
                            <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Anlillos" width="100%">
                        </div>
                        <br>
                        @*<h4>El Señor de los Anillos</h4>*@
                        <p><a href="http://asp.net" class="btn btn-info btn-lg">Más Información &raquo;</a></p>
                    </div>
                    <div class="col-md-2">
                        <div align="left">
                            <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Alquimista" width="100%">
                        </div>
                        <br>
                        @*<h4>El Alquimista</h4><br>*@
                        <p><a href="http://asp.net" class="btn btn-info btn-lg">Más Información &raquo;</a></p>
                    </div>
                    <div class="col-md-2">
                        <div align="left">
                            <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Harry" width="100%" height="95%">
                        </div>
                        <br>
                        @*<p align="center"<h5>El diario de Ana Frank</h5></p><br>*@
                        <p><a href="http://asp.net" class="btn btn-info btn-lg">Más Información &raquo;</a></p>
                    </div>
                    <div class="col-md-2">
                        <div align="left">
                            <img src="http://www.elresumen.com/tapas_libros/harry_potter_y_las_reliquias_de_la_muerte.jpg" alt="Quijote" width="100%" height="110%">
                        </div>
                        <br>
                        @*<p><h4>Don Quijote de la mancha</h4></p><br><br>*@
                        <p><a href="http://asp.net" class="btn btn-info btn-lg">Más Información &raquo;</a></p>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
    </div>
