
@{
    ViewBag.Title = "Nosotros";
}

<p class="centrar"><img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fbuenosdias.wiki%2Fimagenes%2Fimagenes-de-buenos-dias-amor.jpg&imgrefurl=https%3A%2F%2Fbuenosdias.wiki%2Fimagenes-de-buenos-dias%2F&docid=4Q2ZyMckvigAyM&tbnid=vL3Eo9o1k5YwvM%3A&vet=10ahUKEwjbzbah_6HlAhXqHLkGHZfuCMAQMwitASgHMAc..i&w=937&h=785&bih=657&biw=1366&q=imagenes&ved=0ahUKEwjbzbah_6HlAhXqHLkGHZfuCMAQMwitASgHMAc&iact=mrc&uact=8" alt="Fondo index" width="1000" height="250"</p>
<div class="row">
    
    <div class="col-md-4">
        <h2>Leidy Rivas</h2>
       
        <p>
            Un libro abierto es un cerebro que habla; cerrado un amigo que espera; olvidado, un alma que perdona; destruido, un corazón que llora.
        </p>
        <p>Proverbio Indú &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @*<h2>Get more libraries</h2>*@
        <p>No se debería leer sino los libros que nos pican y nos muerden. Si el libro que leemos no nos despierta con un puñetazo, ¿para qué leerlo?" —Franz Kafka</p>
        <p>Franz Kafka &raquo;</p>
    </div>
    <div class="col-md-4">
        @* <h2>Web Hosting</h2>*@
        <p>Los libros son, entre mis consejeros, los que más me agradan, porque ni el temor ni la esperanza les impiden decirme lo que debo hacer..</p>
        <p>Alfonso V el Magnánimo &raquo;</p>
    </div>
</div>