
@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="https://miro.medium.com/max/1000/1*BIJ5kkEkHkzraLDBSQD5_w.jpeg" class="img-thumbnail" alt="Leidy">
                <div class="carousel-caption">
                    <h3>Leidy Rivas</h3>
                    <p>Actualmente me desempeño como alumna de la Universidad Autónoma de Asunción en la Facultad de Ciencias y Tecnología cursando la carrera de Ingeniería en Informática con énfasis en Sistemas Informáticos. Me considero una persona responsable, dinámica y creativa, con facilidad de adaptación y capacidad de trabajar en equipo. Mi mayor satisfacción es lograr las metas y objetivos presentes en mi carrera y las de la universidad.</p>
                </div>
            </div>

            <div class="item">
                <img src="https://miro.medium.com/max/1000/1*BIJ5kkEkHkzraLDBSQD5_w.jpeg" class="img-thumbnail" alt="Victor">
                <div class="carousel-caption">
                    <h3>Victor Benitez</h3>
                    <p>Actualmente me desempeño como alumna de la Universidad Autónoma de Asunción en la Facultad de Ciencias y Tecnología cursando la carrera de Ingeniería en Informática con énfasis en Sistemas Informáticos. Me considero una persona responsable, dinámica y creativa, con facilidad de adaptación y capacidad de trabajar en equipo. Mi mayor satisfacción es lograr las metas y objetivos presentes en mi carrera y las de la universidad.</p>
                </div>           
            </div>

            <div class="item">
                <img src="https://miro.medium.com/max/1000/1*BIJ5kkEkHkzraLDBSQD5_w.jpeg" class="img-thumbnail" alt="Cristhian">
                <div class="carousel-caption">
                    <h3>Cristhian Duarte</h3>
                    <p>Actualmente me desempeño como alumna de la Universidad Autónoma de Asunción en la Facultad de Ciencias y Tecnología cursando la carrera de Ingeniería en Informática con énfasis en Sistemas Informáticos. Me considero una persona responsable, dinámica y creativa, con facilidad de adaptación y capacidad de trabajar en equipo. Mi mayor satisfacción es lograr las metas y objetivos presentes en mi carrera y las de la universidad.</p>
                </div>
            </div>

            <div class="item">
                <img src="https://miro.medium.com/max/1000/1*BIJ5kkEkHkzraLDBSQD5_w.jpeg" class="img-thumbnail" alt="Nery">
                <div class="carousel-caption">
                    <h3>Nery Cano</h3>
                    <p>Actualmente me desempeño como alumna de la Universidad Autónoma de Asunción en la Facultad de Ciencias y Tecnología cursando la carrera de Ingeniería en Informática con énfasis en Sistemas Informáticos. Me considero una persona responsable, dinámica y creativa, con facilidad de adaptación y capacidad de trabajar en equipo. Mi mayor satisfacción es lograr las metas y objetivos presentes en mi carrera y las de la universidad.</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>